{{ define "main" }}
<script>
  (function() {
    var apps = [{{ range $i, $app := .Site.Params.angularApps }}{{ if $i }}, {{ end }}'{{ $app.path }}'{{ end }}];
    var segments = window.location.pathname.split('/').filter(Boolean);
    if (segments.length > 0 && apps.indexOf(segments[0]) !== -1) {
      var appBase = '/' + segments[0] + '/';
      var route = '/' + segments.slice(1).join('/');
      window.location.replace(
        appBase + '?__route=' + encodeURIComponent(route + window.location.search + window.location.hash)
      );
    }
  })();
</script>

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>
  <p><strong>Page not found :(</strong></p>
  <p>The requested page could not be found.</p>
</div>
{{ end }}
