---
---

@import "minima";

// Tag styling
.post-tags {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: $small-font-size;
}

.tag-link {
  text-decoration: none;

  .tag {
    display: inline-block;
    background-color: $grey-color-light;
    color: $grey-color-dark;
    padding: 0.2em 0.6em;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
    border-radius: 3px;
    font-size: 0.9em;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $brand-color;
      color: white;
    }
  }
}

// Tags index page
.tags-index {
  .tag-list {
    list-style: none;
    margin-left: 0;

    li {
      margin-bottom: 0.5em;
    }
  }

  .tag-count {
    color: $grey-color;
    font-size: 0.9em;
  }
}

// Individual tag page
.tag-page {
  .page-header {
    margin-bottom: $spacing-unit;

    p {
      margin-top: 0.5em;
      font-size: $small-font-size;
    }
  }
}
